.gradle
.idea/
*.iml
.classpath
.project
.settings/

target/
build/
out/
gradle/

application.yml
application-develop.yml
application-prod.yml
AssistantHeaderConfiguration.java
FileHeaderConfiguration.java
config/


*.log
*.tmp