# Default ignored files
/shelf/
/workspace.xml


/build/
/out/

src/main/resources/application.yml
src/main/java/org/example/header/AssistantHeaderConfiguration.java
src/main/java/org/example/header/FileHeaderConfiguration.java
src/main/java/org/example/config

*.log